body {
  /* //background: url(../../assets/images/image2@2x.jpg); */
  background: #efefef;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid red;
  font-size: 50px;
  color: red;
}
