* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: "Open Sans";

}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul, ol {
    list-style: none;
}